<html>

<head>
    <!-- SEO -->

    <!-- Page Title -->
    <title>App | Home</title>

    <!-- Meta Description -->
    <meta name="description" content="A cool App">

    <!-- LinkedIn/etc. edit these to change the share metadata -->
    <meta property="og:title" content="App">
    <meta property="og:description" content="A cool app">
    <meta property="og:image" content="https://url/static/images/logo.png">

    <!-- Twitter specific metadata -->
    <meta name="twitter:title" content="App">
    <meta name="twitter:description" content="A cool app">
    <meta name="twitter:image" content="https://url/static/images/logo.png">

    <!-- Use this to implement html components that are the same on every page like your html 
     libraries or a navigation bar. This way you only have to edit the component once-->
    {% include '/components/header.html' %}
</head>

<body>
    <h1>Home</h1>
    <p>This is the home page.</p>
</body>

</html>