<!-- This will be put on any html template page where the component is referenced
these settings make mobile nicer, changes the color of the OS navbars, and adds favicon -->

<meta name="theme-color" content="#000000" />
<link rel="shortcut icon" type='image/x-icon' href="/static/images/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- JS and CSS imports. This will be on every page you reference the header component -->
<script src="/static/js/main.js"></script>
<link rel="stylesheet" href="/static/css/style.css">